@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  margin: 0 0;
}

.current {
  background-color: limegreen;
  padding: 0 2px;
  color: whitesmoke;
  border-radius: 3px;
}

.passed {
  background-color: silver;
}

.wrong {
  background-color: red;
}

.typing-test {
  font-size: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;

  display: flex;
  justify-content: space-between;

  .text {
    width: 80%;
  }

  .info {
    width: 15%;
    color: green;
  }
}